{% extends 'base.html' %}
{% load static %}

{% block main_wrapper_classname %}page-full-height{% endblock %}
{% block title %}CSV/XML редактор{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="csv-editor" class="flex-grow-1 d-flex flex-column overflow-hidden">
        <div class="container">
            <div class="row mb-4">
                <h3 class="title text-center">
                    CSV/XML редактор
                </h3>
            </div>
        </div>
        <div id="ce-app" class="d-flex flex-column flex-grow-1 overflow-hidden">
        </div>
        
    </div>
{% endblock %}

{% block scripts%}
    <script src="{% static 'app_csv_editor/js/index.js' %}"></script>
{% endblock %}