{% load static %}
<ul class="contacts">
    <li>
        <a href="mailto:kowkogab@gmail.com">
            {% include "icons/envelop.svg" %}
            <span>
                kowkogab@gmail.com
            </span>
        </a>
    </li>
    <li>
        <a href="https://t.me/kowkogab" target="_blank">
            {% include "icons/telegram.svg" %}
            <span>
                kowkogab
            </span>
        </a>
    </li>
    <li>
        <a href="skype:live:kowkogab?chat" target="_blank">
            {% include "icons/skype.svg" %}
            <span>
                live:kowkogab
            </span>
        </a>
    </li>
</ul>