<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'common/styles/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'common/styles/base.css' %}" /> {% endcomment %}
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
    {% include "preloader-script.html" %}
</head>
<body>
    <div class="main-preloader" style="opacity: 1; transition: .3s ease-in-out opacity; display: none;">
        {% include "preloader.html" %}
    </div>
    <div class="main-wrapper  {% block main_wrapper_classname %}{% endblock %}" style="display: none;">
        <header class="header py-3">
            <div class="container">
                <div class="row">
                    <div class="header-content d-flex align-items-center" id="header-content">
                        <a href="/" class="logo-link link-reset">
                            <h1 class="logo">
                                Pytho<span class="text-red-300">ny</span>
                            </h1>
                        </a>
                        <div class="header-content-right flex-grow-1 d-flex justify-content-center">
                            <nav class="navbar navbar-expand navbar-light flex-grow-1 d-flex justify-content-center">
                                <ul class="navbar-nav">
                                    {% for app in applications_list %}
                                        <li class="nav-item">
                                            <a
                                                href="{% url app.app_name %}"
                                                class="nav-link {% if app.path in request.path %}active{%endif%}"
                                            >
                                                {{ app.name }}  
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'common/js/index.js' %}">
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>