<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'common/styles/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'common/styles/base.css' %}" /> {% endcomment %}
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
    {% include "preloader-script.html" %}
</head>
<body>
    <div class="main-preloader" style="opacity: 1; transition: .3s ease-in-out opacity; display: none;">
        {% include "preloader.html" %}
    </div>
    <div class="main-wrapper  {% block main_wrapper_classname %}{% endblock %}" style="display: none;">
        <header class="header py-3">
            <div class="header-content container">
                <div class="row">
                    <a href="/" class="logo-link link-reset">
                        <h1 class="logo">
                            Pytho<span class="text-red-300">ny</span>
                        </h1>
                    </a>
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'common/js/index.js' %}">
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>