body {
    overflow-y: scroll;
}

.header .logo {
    text-transform: uppercase;
    margin-bottom: 0;

    &-link {
        color: $body-color;
        text-decoration: none;

        &:hover {
            color: $red-300;

            span {
                color: $red-600;
            }
        }
    }
}

.link-reset {
    text-decoration: none;

    &, &:hover {
        color: $body-color;
    }
}

.main-preloader {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 1000;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}