@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import './variables.scss';

html {
    font-size: 16px;
}

body {
    font-family: $font-family;
    font-size: $font-size-1;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
}

$colors: (
    'border': $border-color,
    'primary': $primary
);

@each $name, $value in $colors {
    .text-hover-#{$name} {
        &:hover {
            color: $value;
        }
    }
}